body {
	width: 20rem;
	padding: 0;
	margin: 0;
}

body.adv {
	width: 100%;
}

.header {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	padding: 1rem;

	background-color: #fe6033;
	color: #ffffff;
}

.content {
	padding: 1rem;
	font-size: 1rem;
}

.content span {
	display: block;
}

.h {
	font-size: 1.3rem;
	margin-bottom: 0.5rem;
}

body.adv .h {
	font-size: 1.9rem;
	margin-bottom: 0.6rem;
}

body.adv .hh {
	font-size: 1.4rem;
	margin-bottom: 0.6rem;
}

button {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	background-color: #fe6033;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 225ms ease;
}

button:first-of-type {
	margin-top: 0.8rem;
	margin-bottom: 0.4rem;
}

button:hover {
	background-color: #e6552b;
}

.hm {
	font-size: 0.6rem;
}

#colors {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.color-setting {
	margin-bottom: 1rem;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 0.6rem;
}

.color-setting span {
	display: block;
	font-weight: bold;
}
